@font-face {
    font-family: 'BMDoHyeon';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/BMDoHyeon/BMDoHyeon.ttf') format("truetype");
    font-display: swap;
} 